@import 'global/Variables';

.userPanel{
	background: $dark-black;
	width: 100%;
	bottom: 0;
	color: $white;
	div{
		flex-direction: column;
		margin: auto 10px;
		h4{
			margin: 0;
		}
		p{
			margin: 0;
		}
	}
}